.background{

    background-image: url(ltrbelakang.jpg);
    background-size: cover;

    }
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: black;
      font-size: 40px;
      margin-bottom: 20px;
      text-align: center;
    }

    h2 {
      color: black;
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      color: black;
      font-size: 16px;
      line-height: 1.5;
    }

    ul {
      color: black;
      font-size: 16px;
      line-height: 1.5;
      margin-left: 20px;
    }

    li {
      margin-bottom: 5px;
    }